.btn-group{
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #3399ff;
}

button{
  background-color: #3399ff;
  padding: 20px;
  color: black;
  width: 200px;
  display: block;
}

.btn-group button:hover{
  background-color: #D3D3D3;
}

section {
  margin-left: 200px;
}

.container {
  height: 100%;
}

h1{
  text-align: center;
}
